//BREAKPOINTS
$breakpoint-sm: 375px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1440px;

// COLORS
$color1: #ffe8e8;
$color2: rgb(176, 93, 93);
$color3: rgb(35, 35, 35);
$color4: rgb(50, 50, 50);
$color5: #232323;
$color6: #ffffff;
$color7: #ebebeb;
$color8: rgb(150, 150, 150);
$color9: #4b6cc0;
$color10: #494949;
$color11: #e8e8e8;
$color12: #000000;
$color13: #13c89c;
$color14: #fff100;
$color15: #fafafa;
$color16: rgb(60, 60, 60);
$color17: #cfcfcf;
$color18: #e95144;
$color19: #cbcbcb;
